/* Layout */
 
/* Variáveis */
 
:root {
    --verdeescuro: #172b20;
    --preto: #000000;
    --branco: #ffffff;
    --verdeescuro: #062206;
    --dourado: #c2a362;
    --rosaqueimado: #072413;
    --verdeclarinho: #133620;
}
 
/* CSS - reset */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: "Lobster", sans-serif;
}
 
.container {
    display: flex;
    margin: 0 auto;

}

.btn{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: var(--branco);
    padding: 12px 20px;
    color: var(--rosaqueimado);
    border-radius: 60px;
    border: 2px solid var(--verdeclarinho)
}
 
/* Fim do Layout*/
 
 
/* Smartphone portrait */
 
/* Cabeçalho */
header {
    height: 70px;
    background-color: var(--verdeclarinho);
}
 
#logo img {
    width: 128px;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;

}
 
#check {
    display: none;
}
 
label {
    color: rgba(15, 90, 53, 0.75);
    font-size: 3rem;
    position: fixed;
    right: 15px;
    top: 5px;

}

nav ul{
    height: 100vh;
    background-color: rgba(32, 54, 39, 0.9);
    position: fixed;
    top: 70px;
    right: -48%;
    width: 48%;   
    transition:all 0.5s;


}

/*** ação para caixa checkbox */ /*Quando selecionado mudar propriedades */

#check:checked~ul {
    right: 0px;    
}


nav ul li {
    list-style: none;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--verdeclarinho);    
}

nav ul li a {
    text-decoration: none;
    color: var(--dourado);
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.3rem;
}

/* DESTAQUE */
#destaque {
    padding: 50px 10px;
    background: url(./IMG/imagem\ fundo.png);
    background-size: cover;
    background-position: center;

}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#hero-text h2 {
    margin-bottom: 15px;
    color: var(--rosaqueimado);
    font-size: 2.5rem;
     text-shadow: 0px 5px 10px var(--branco),0px 10px 10px rgba(0, 0, 0, 0.15),0px 15px 15px rgba(0, 0, 0, 0.1),0px 20px 20px rgba(0, 0, 0, 0.1);

}
.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;

}
.topics p {
    margin-left: 15px;

}




 
/* Fim smartphone portrait*/

/* Smartfone Landscape >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container{
        max-width: 540px;
    }
    /* CABEÇALHO */
    nav ul {
        width: 40%;
        right: -40%;
    }

}
/* Principal */
main{
    height: 80vh;
    background: url(./IMG/bannerprincipal1.png);
    background-size: cover;
    background-position: center;   
}

#logo img {
    height: 90px;
}

main h1 {
    color: var(--branco);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 5px 10px var(--preto),0px 10px 10px rgba(0, 0, 0, 0.15),0px 15px 15px rgba(0, 0, 0, 0.1),0px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;



}

main h2{
    color: var(--dourado);
    font-size: 1.85rem;
    font-weight: 900;
    text-shadow: 0px 5px 10px var(--preto),0px 10px 10px rgba(0, 0, 0, 0.15),0px 15px 15px rgba(0, 0, 0, 0.1),0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;


}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* Destaque */
#destaque {
    padding: 50px 0px;
}

#destaque .container {
    flex-direction: row;
    align-items: center;
}

#hero {
    text-align: left;

}

#hero img {
    width: 200px;
    height: 200px;
    margin: 0px 20px 0px -50px;
}

.topics {
    display: none;

}





/* Fim smartphone portrait*/

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container{
        max-width: 720px;

    }
    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%
    }
    /* Principal */
    main h1 {
        font-size: 4rem;
    }
    main h2{
        font-size: 2.2rem;
    }
}


/* Fim - Tablet Portrait <<<<<<<<<<<<<<<<<*/

/* Tablet Lanscape >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container{
        max-width: 930px;     
    }

}

/* Fim - Tablet Landscape <<<<<<<<<<<<<<<<<*/

/* Notebook - PC >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container{
        max-width: 1140px;
        justify-content: space-between;

        
    }
    /* Cabeçalho */
    header{
        height: 100px;
    }
    #logo img {
        width: 190px;
        height: 190px;

    }
    label {
        display: none;

    }
    nav ul{
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 23px;

    }

    nav ul li{
        border: 0;
        float: left;
    }

    nav ul li a{
        font-size: 1.3rem;
    }

    nav ul li a:hover {
        color: var(--branco)
    }

    /* Principal */
    main {
        height: 85vh;

    }


}

#hero img {
    width: 400px;
    height: 400px;
}

.topics {
    display: flex;

}

#destaque {
    background-attachment: fixed;
}


/* Fim - Notebook - PC Landscape <<<<<<<<<<<<<<<<<*/
 

/* FULL HD/ 4K  >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container{
        max-width: 1320px;
       
        
    }
    /* Principal */
    main h1{
        font-size: 6rem;
    }
    main h2{
        font-size: 4rem;
    }

}

/* Fim - Notebook - PC Landscape <<<<<<<<<<<<<<<<<*/

 