/* Layout */

/* Variáveis */

:root {
    --verdeescuro: #172b20;
    --preto: #000000;
    --branco: #ffffff;
    --verdeescuro: #062206;
    --dourado: #c2a362;
    --rosaqueimado: #072413;
    --verdeclarinho: #133620;
}

/* CSS - reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lobster", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;

}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: var(--branco);
    padding: 12px 20px;
    color: var(--rosaqueimado);
    border-radius: 60px;
    border: 2px solid var(--verdeclarinho)
}

/* Cartão   */
.card {
    width: 342px;
    height: 490px;
    background-color: var(--verdeclarinho);
    margin-bottom: 25px;
    border: 2px solid var(--rosaqueimado);
    text-align: center;
    border-radius: 25px;

}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h2 {
    font-size: 1.3rem;
    margin: 15px 0px;
    color: #ffffff;
}

.card p {
    color: var(--dourado);
    padding: 0px 15px 30px 15px;

}

/* TOPO DO SITE */
#topo {
    position: fixed;
    right: 10px;
    bottom: 1px;
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
}

.Flex5 {
    display: flex;
    flex-direction: column-reverse;

}


address #whats {
    font-size: 1.7rem;
}


/* Fim do Layout*/


/* Smartphone portrait */

/* Cabeçalho */
header {
    height: 70px;
    background-color: var(--verdeclarinho);
}

#logo img {
    width: 128px;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;

}

#check {
    display: none;
}

label {
    color: rgba(15, 90, 53, 0.75);
    font-size: 3rem;
    position: fixed;
    right: 15px;
    top: 5px;

}

nav ul {
    height: 100vh;
    background-color: rgba(32, 54, 39, 0.9);
    position: fixed;
    top: 70px;
    right: -48%;
    width: 48%;
    transition: all 0.5s;


}

/*** ação para caixa checkbox */
/*Quando selecionado mudar propriedades */

#check:checked~ul {
    right: 0px;
}


nav ul li {
    list-style: none;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--verdeclarinho);
}

nav ul li a {
    text-decoration: none;
    color: var(--dourado);
}

/* Principal */

main .container {
    height: 60vh;
    background: url(./IMG/bannerprincipal1.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 1.7rem;
    color: var(--branco);
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: -50px;
    margin-bottom: 5px;

}

h2 {
    font-size: 1.3rem;
    color: var(--branco);
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(7, 7, 7, 0.15), 0px 15px 15px rgba(250, 246, 246, 0.1), 0px 20px 20px rgba(226, 224, 224, 0.1);
    text-align: center;
    margin-bottom: 25px;

}

/* DESTAQUE */
#destaque {
    padding: 50px 10px;
    background: url(./IMG/imagem\ fundo.png);
    background-size: cover;
    background-position: center;

}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#hero-text h2 {
    margin-bottom: 15px;
    color: var(--rosaqueimado);
    font-size: 2.5rem;
    text-shadow: 0px 5px 10px var(--branco), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);

}

#hero-text p {
    color: var(--branco);
    font-size: 1.3rem;
    font-weight: 550;
}


.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;

}

.topics p {
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 590;


}

/* Sobre */

#sobre {
    padding: 40px 13px;
    background-color: var(--rosaqueimado);
}

#sobre .container {
    display: flex;
    flex-direction: column;
}

#sobre iframe {
    width: 340px;
    height: 191px;
}

#sobre p {
    margin-bottom: 25px;
}

#sobre p {
    color: var(--branco);
}

#sobre h2 {
    color: var(--branco);
    margin-bottom: 20px;
}

/* PDF */

#pdf {
    padding: 40px 13px;
    background: url(./IMG/imagem\ fundo.png);
    background-size: cover;
    background-position: center;
}

#pdf .container {
    display: flex;
    flex-direction: column;
}

#pdf img {
    display: none;
}

#pdf h2 {
    color: var(--branco);
    margin-bottom: 15px;
    font-size: 1.7rem;
}

#pdf p {
    margin-bottom: 50px;
    color: var(--branco);
    font-size: 1.2rem;
}

#pdf .btn {
    font-size: 1.3rem;
}

/* Cartões */
#Tratamentos {
    padding: 50px 0px 25px 0px;
}

#Tratamentos .container {
    flex-direction: column;
    align-items: center;
}

#Tratamentos p {
    margin-bottom: 10px;
    margin-top: 5px;
}



/* ===== RODAPÉ ===== */
address {
    padding: 30px 10px 15px 20px;
    background-color: var(--verdeclarinho);
    color: #ffffff;
}


address .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#contato,
#endereco,
#googleMaps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#contato a,
#endereco a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}


address img {
    width: 36px;
    height: 36px;
    padding-top: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#iconelocal {
    display: none;
}


#googleMaps iframe {
    display: none;
}

#social img {
    width: 50px;
    height: 50px;
}


/*  FOOTER  */
footer {
    background-color: darkgrey;
    color: #062206;
    padding: 30px 10px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}




#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#topo img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}






/* Fim smartphone portrait*/

/* Smartfone Landscape >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* CABEÇALHO */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 80vh;
        background: url(./IMG/bannerprincipal1.png);
        background-size: cover;
        background-position: center;
    }

    #logo img {
        height: 90px;
    }

    main h1 {
        color: var(--branco);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 2rem;
        margin-top: 30px;


    }

    main h2 {
        color: var(--branco);
        font-size: 1.2rem;
        font-weight: 900;
        text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        text-align: center;


    }

    main .container {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    /* Destaque */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;

    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 20px 0px -50px;
    }

    .topics {
        display: none;

    }

    /*  RODAPÉ  */
    address {
        padding: 30px 10px 15px 20px;
        background-color: var(--verdeclarinho);
        color: #ffffff;
    }


    address .container {
        
    flex-direction: column;

    }


    #contato,
    #endereco,
    #googleMaps {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }


    #contato a,
    #endereco a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
    }


    address img {
        width: 36px;
        height: 36px;
        padding-top: 2px;
    }


    #contato p,
    #endereco p {
        margin: 4px 0;
    }


    #googleMaps iframe {
        border-radius: 8px;
        width: 300px;
        height: 200px;
    
    }

    /* FOOTER (parte cinza) */
    footer {
        background-color: darkgrey;
        color: #062206;
        padding: 30px 20px;
    }

    footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    #social img {
        width: 30px;
        height: 30px;
        margin-bottom: 25px;

    }



    /*  BOTÃO DE TOPO  */
    #topo {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    #topo img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #social img {
    width: 50px;
    height: 50px;
}
}

/* Fim smartphone Landscape*/

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;

    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%
    }

    /* Principal */
    main h1 {
        font-size: 4rem;
    }

    main .container {
        display: flex;
        flex-direction: column;
    }

    main h2 {
        font-size: 2.2rem;
    }

    /* Destaque */

    #hero img {
        margin-left: 20px;
    }

    /* Sobre */

    #youtube iframe {
        height: 315px;
        width: 560px;
    }


    /* Rodapé */
 #rodape iframe {
    display: flex;
    margin: 20px;
 }

 
 #iconemapa .container {
    display: none;
 }
 }

/* Fim - Tablet Portrait <<<<<<<<<<<<<<<<<*/

/* Tablet Lanscape >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 930px;
    }

    /* Sobre */

    #youtube iframe {
        height: 315px;
        width: 560px;
    }

    /* Cartões */
    #Tratamentos .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin-right: 25px;
    }

    address {
        padding: 30px 10px 15px 20px;
        background-color: var(--verdeclarinho);
        color: #ffffff;
    }

    address .container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #contato,
    #endereco,
    #googleMaps {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }




    address img {
        width: 36px;
        height: 36px;
        padding-top: 2px;
    }


    #contato p,
    #endereco p {
        margin: 1px 0;

    }


    #googleMaps iframe {
        border-radius: 8px;
        width: 300px;
        height: 200px;
    }



}




/* Fim - Tablet Landscape <<<<<<<<<<<<<<<<<*/

/* Notebook - PC >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;


    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    #logo img {
        width: 190px;
        height: 190px;

    }

    label {
        display: none;

    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 23px;

    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 1.3rem;
    }

    nav ul li a:hover {
        color: var(--branco)
    }

    /* Principal */
    main {
        height: 85vh;

    }

    main .container {
        display: flex;
        flex-direction: column;
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    .topics {
        display: flex;

    }

    #destaque {
        background-attachment: fixed;
    }

    /* Sobre */

    #sobre .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #youtube iframe {
        height: 315px;
        width: 560px;
    }

    #sobre h2 {
        font-size: 2.3rem;
    }

    #sobre p {
        font-size: 1.3rem;
    }

    /* PDF */
    #pdf {
        background-attachment: fixed;
    }

    #pdf img {
        display: flex;
        border-radius: 20%;
        height: 200px;
        width: 200px;
    }

    #pdf .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #qrcode {
        margin-left: 20px;
    }


    #pdf #text h2 {
        font-size: 3.5rem;
    }

    #pdf #text p {
        font-size: large;
    }

    /*Cartões */
    #Tratamentos .container {
        flex-direction: row;
    }

    .card {
        margin-right: 0px;
    }

    #social img {
    width: 70px;
    height: 70px;
}

}





/* Fim - Notebook - PC Landscape <<<<<<<<<<<<<<<<<*/


/* FULL HD/ 4K  >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;


    }

    /* Principal */
    main h1 {
        font-size: 7rem;
    }

    main h2 {
        font-size: 3rem;

    }

    /* Sobre */

    #youtube iframe {
        height: 315px;
        width: 560px;
    }

    #sobre h2 {
        font-size: 2.5rem;
    }

    #sobre p {
        font-size: 1.7rem;
    }


}

/* Fim - Notebook - PC Landscape <<<<<<<<<<<<<<<<<*/